@font-face {
    font-family: "mapleMonoBold";
    font-weight: normal;
    font-style: normal;
    src: url("./originFont/mapleMono/MapleMono-NF-CN-Bold.ttf");
}

/* 使用字体 */
.mapleMonoBold {
    font-family: "mapleMonoBold";
}
